/*FONTS TO BE USED*/
@font-face {
    font-family: AkiraExpanded;
    src: url(../assets/Akira\ Expanded\ Demo.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/*ANIMATIONS KEYFRAMES*/
@keyframes fadeInUserName {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);

    }
}

@keyframes fadeInBTN {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*LANDING SCREEN CSS START*/

.homepage_landing-screen-main_container {
    height: 100vh;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.homepage_background-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homepage_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Landing-screen-content-container {
    position: absolute;
    height: 60%;
    top: 30%;
    left: 5%;
    z-index: 1;
}

.Landing-screen-content-container h1{
    opacity: 0;
    color: white;
    animation: fadeInUserName 2s forwards;
    animation-delay: 2s;
    text-shadow: 5px 5px 5px black;
    font-family: 'AkiraExpanded';
    font-size: 65px;
}

.Landing-screen_button-container{
    position: absolute;
    top: 50%;
}

/*DONT TOUCH THIS CODE */
.landing_screen-get-started {
    opacity: 0;
    animation: fadeInBTN 2s forwards;
    animation-delay: 2s;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
}

.landing_screen-get-started .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px white;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

.landing_screen-get-started .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.landing_screen-get-started .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.landing_screen-get-started .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.04rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.landing_screen-get-started .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgba(236, 245, 255, 0.807);
    text-align: center;
    text-transform: uppercase;
}

.landing_screen-get-started:hover .circle {
    width: 100%;
    box-shadow: 0 0 5px 2px white;
}

.landing_screen-get-started:hover .button-text {
    transform: translate(-1.7rem, 0);
    color: #fff;
}

.landing_screen-get-started:hover .circle .icon.arrow {
    transform: translate(8rem, 0);
}
/*DONT TOUCH THIS CODE ENDS*/

/*LANDING SCREEN CSS END*/
.homepage_about_us-main-container{
    background-image: url('../assets/about_us-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 90vh;
    width: 100%;
}

.about_us-content-container{
    width: calc(50% - 40px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_us-content-container h1{
    font-family: 'AkiraExpanded';
    color: white;
    text-shadow: 2px 2px 2px black;
}

.about_us-details-container{
    padding: 20px 55px;
    text-align: justify;
    color: white;
    font-family: 'Comfortaa';
    font-style: italic;
    font-size: 14px;

}

.about_us-details-container h3{
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 32px;
    font-family: 'Allura';
    
}

.about_us-image-container{
    width: calc(50% + 40px);
    height:  100%;
    border-left: 100px solid rgba(0, 0, 0, 0.8);
    border-bottom: 90vh solid transparent;
    box-sizing: border-box;
}


